@import './Variables';

@mixin flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
}

.footer{
    margin-top: 20px;
    .footer-1{
        background-color: #2e2e54;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: white;
        justify-content: space-around;
        padding: 22px 0 30px;
    }
    li , h3{
        list-style: none;
        text-align: left;
        font-family: $font;
    }
    li{
        font-size: 13px;
        line-height: 20px;
    }
    h3{
        font-style:normal;
        font-size: 18px;
        line-height: 15px;
        font-weight: 100;
    }

    .column3{
        display: flex;
        flex-direction: column;

    .column3-upper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .qrcode{
        width: 100px;
        height: 100px;
        border-radius: 10px;
        }
        .logo-section{
            margin: 25px;
            text-align: left;
            img{
                height: 50px;
                width: 50px;                
            }
            p{
                margin-top: 5px;
                line-height: 6px;
            }
        }

    }

    .column3-lower{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .app-download{
            height: 40px;
            width: 120px;
            border-radius: 5px;
            margin-right: 5px;
        }
    }
}

.footer-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;

    h4{
        font-weight: 100;
        font-family: $font;
        font-size: 18px;
        text-align: left;
    }

    .payment-methods{
        @include flex;
        .cards{
            height: 40px;
            width: 60px;
            margin-right: 10px;
        }
    }

    .flags{
        @include flex;
        .flag{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    .socialmedia{
        @include flex;
        .icons{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    .verified{
        width: 170px;
        height: 80px;
    }
}

.footer-3{
        font-weight: 100;
        font-family: $font;
        font-size: 18px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #2e2e54;
        color: white;
        display: flex;
        flex-wrap: wrap;
        padding-left: $ml;
        
        
}

    
}