@import './Variables';

.product-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .main-container{
        display: flex;  
        width: 1000px;

        .product-show{
            background-color: white;
            flex: 0.8;
            display: flex;
            flex-direction: row;
            .column-1{

                .product-image{
                    height: 350px;
                    width: 300px;
                    padding: 10px;
                    border-bottom: 1px solid lightgray;
                }
            }

            .column-2{
                
                .details-section{
                    margin: 10px;
                    margin-left: 20px;
                    text-align: left;
                    border-bottom: 1px solid lightgray;

                    .product-title{
                        font-size: 21px;
                        line-height: 26px;
                        font-family: $font;
                        word-break: break-word;
                        overflow-wrap: break-word;
                    }

                    .rating-line{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        line-height: 12px;

                    
                        .rating{
                            display: flex;
                            flex: 0.8;
                            flex-direction: row;
                            line-height: 12px;
                            margin-top: 15px;
                            width: 300px;
                            align-items: center;
                            
                            .product-rating{
                                display: flex;
                                flex-direction: row;
                                margin-right: 10px;
                                .star{
                                width: 15px;
                                height: 15px;
                                color: gold;
                                }
                            }
                            
                            .rating-desc{
                                color: #1a9cb7;
                                font-size: 12px;
                            }
                        }
                        
                        .share-wishlist{
                            display: flex;
                            flex: 0.2;
                            flex-direction: row;
                            justify-content: space-evenly;
                            margin-left: 30px;
                            .share , .wishlist{
                                color: #757575;
                                margin-left: 20px;
                                &:hover{
                                    color: $daraz-color;
                                }
                            }
                        }

                    }
                    
                

                    .brand{
                        font-size: 12px;
                        color: #757575;
                        padding-top: 10px;
                        padding-bottom: 15px;
                        display: flex;
                        flex-direction: row;
                        .brand-desc{
                            margin-left: 5px;
                            color: #1a9cb7;;
                        }
                    }
                }
                
                .price-section{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    margin: 20px;
                    margin-top: 10px;

                    .discounted-price{
                        font-size: 30px;
                        color: $daraz-color;
                    }
                    .price{
                        display: flex;
                        flex-direction: row;
                        .marked-price{
                            font-size: 14px;
                            text-decoration: line-through;
                            color: #757575;
                            margin-right: 10px;
                        }
                        .discount-percent{
                            font-size: 14px;
                        }
                    }
                }

                .promotions-section{
                    display: flex;
                    flex-direction: row;
                    text-align: left;
                    margin: 20px;
                    align-items: center;
                    .promotion-title{
                        font-size: 14px;
                        color: #757575;
                        margin-right: 30px;
                    }
                    .promotion-type{
                            height: 25px;
                            background-color: $daraz-color !important; 
                            color: white;
                            width: 150px;
                            border-radius: 0;
                            border: 1px $daraz-color;
                            font-size: 12px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        
                    }
                }

                .quantity-section{
                    display: flex;
                    flex-direction: row;
                    text-align: left;
                    margin: 20px;
                    align-items: center;
                    .quantity-title{
                        font-size: 14px;
                        color: #757575;
                        margin-right: 35px;
                    }
                    .counter{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        button{
                            background-color: #eff0f5;
                            font-size: 24px;
                            border: 1px #eff0f5;
                            height: 30px;
                            width: 30px;
                            margin-left: 15px;
                            margin-right: 15px;
                        }
                    }
                }

                .buy-cart-section{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 20px;
                    .buynow , .addtocart{
                        height: 44px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 48%;
                        font-size: 16px;
                        color: white;
                        border-radius: 2px;
                    }

                    .buynow{
                        border: 1px solid #2abbe8;
                        background: #2abbe8;
                    }
                    .addtocart{
                        border: 1px solid $daraz-color;
                        background: $daraz-color;
                    }
                }
            }

        }
                
    }
}